body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #b0e6e5;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .auth-card {
    background: #cbe6e5;
    padding: 50px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
  }
  
  .auth-title {
    text-align: center;
    color: #005b75;
    font-size: 40px;
    margin-bottom: 25px;
  }
  
  .auth-input {
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #0077b6;
    border-radius: 8px;
    background-color: #f0f9ff;
    font-size: 16px;
  }
  
  .auth-input:focus {
    border-color: #005b75;
  }
  
  .auth-btn {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #0077b6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .auth-btn:hover {
    background: #005b75;
  }
  
  .auth-link {
    text-align: center;
    margin-top: 15px;
    color: #555;
  }
  
  .auth-link span {
    color: #0077b6;
    cursor: pointer;
    font-weight: bold;
  }
  
  .auth-link span:hover {
    text-decoration: underline;
  }
  .auth-switch {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
    text-align: center;
  }
  
  .auth-switch span {
    color: #0077b6;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s;
  }
  
  .auth-switch span:hover {
    color: #023e8a;
    text-decoration: underline;
  }